#table_wrapper {
    margin-top: 25px;
}

thead input {
    width: 100%;
}

form {
    margin-top: 25px;
}

.jumbotron {
    margin-top: 50px;
    background-color: transparent;
}

.toast {
    z-index: 10;
}

.btngroup{
    padding-top: 5px;
}

/* .mid-center { 
    top: 50%; 
    transform: translateX(-50%) translateY(-50%); 
}  */


.mid-right { 
    /* top: 10%;  */
    right: 0; 
    transform: translateY(-50%); 
} 
