#table_wrapper {
    margin-top: 25px;
}

thead input {
    width: 100%;
}

form {
    margin-top: 25px;
}

.jumbotron {
    margin-top: 50px;
    background-color: whitesmoke;
}

.toast {
    z-index: 10;
}

.btngroup{
    padding-top: 5px;
}

.mid-right { 
    right: 0; 
    transform: translateY(-50%); 
} 

.navbar {
    border-radius: 5px;
}
