#table_wrapper {
  margin-top: 25px;
}

thead input {
  width: 100%;
}

form {
  margin-top: 25px;
}

.jumbotron {
  margin-top: 50px;
  background-color: transparent;
}

.toast {
  z-index: 10;
}

.btngroup {
  padding-top: 5px;
}

.mid-right {
  right: 0;
  transform: translateY(-50%);
}

.container-fluid {
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  margin-right: 0;
}

header {
  background-color: #226089;
}

body {
  background: #ace6f6;
}

.navbar-brand {
  font-size: 25px;
}

.nav-link {
  color: #ace6f6;
}

.nav-link:hover {
  color: white;
  border-bottom: solid 0.5px white;
}

.tabulator {
  background: #ace6f6;
}

#table .tabulator-col {
  background: #226089;
}
