<!DOCTYPE html>

<head>
    <title>Mall App</title>
    <%- include('../partials/head') %>
    <script type="text/javascript" src="/js/table.js"></script>
</head>

<body class="container-fluid">
    <header>
        <%- include('../partials/header') %>
    </header>


</body>


</html>