<!DOCTYPE html>

<head>
    <title>Mall App</title>
    <%- include('../partials/head') %> 
    <link rel="stylesheet" href= 
"https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"> 
    <script src= 
"https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"> 
    </script> 
    <script src= 
"https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"> 
    </script> 
    <script src= 
"https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"> 
    </script> 
</head>

<body class="container-fluid">
    <header>
        <%- include('../partials/header') %>
    </header>

    <span id="results" style="display: none;"><%= results %></span>

    <div class="container-fluid position-relative" style="height: 50px;">
      
      <div class="btngroup position-absolute mid-center">
        <button id="insertrowbtn" type="button" class="btn btn-outline-dark">Insert Row</button>
        <button id="deleterowbtn" type="button" class="btn btn-outline-dark">Delete Row(s)</button>
      </div>

        <div id="errdeletetoast" class="toast position-absolute mid-right" data-autohide="true">
          <div class="toast-header">
            <strong class="mr-auto text-dark">Information</strong>
            <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="toast-body">
            Please select rows to delete.
          </div>
        </div>
        <div id="successdeletetoast" class="toast position-absolute mid-right" data-autohide="true">
          <div class="toast-header">
            <strong class="mr-auto text-dark">Information</strong>
            <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="toast-body">
            Deleted rows.
          </div>
        </div>
        <div id="successinserttoast" class="toast position-absolute mid-right" data-autohide="true">
          <div class="toast-header">
            <strong class="mr-auto text-dark">Information</strong>
            <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="toast-body">
            Inserted row. Click on an empty field to update data.
          </div>
        </div>
      </div>
  

    <table id="table" class="table table-bordered table-sm">
    </table>
    
</body>
<script type="text/javascript" src="/js/ttable.js"></script>

</html>