<!DOCTYPE html>

<head>
    <title>Mall App</title>
    <%- include('../partials/head') %> 
</head>

<div class="position-absolute w-100 d-flex flex-column p-10">
    <div id="errdeletetoast" class="toast hide ml-auto" data-autohide="true">
      <div class="toast-header">
        <strong class="mr-auto text-warning mid-right">Information</strong>
        <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="toast-body">
        Please select row(s) to delete!
      </div>
    </div>
  
    <div id="validfailtoast" class="toast hide ml-auto" data-autohide="true">
      <div class="toast-header">
        <strong class="mr-auto text-danger mid-right">Information</strong>
        <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="toast-body">
        This field does not accept characters.
      </div>
    </div>
    <div id="successdeletetoast" class="toast hide ml-auto" data-autohide="true">
      <div class="toast-header">
        <strong class="mr-auto text-success">Information</strong>
        <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="toast-body">
        Deleted rows.
      </div>
    </div>
    <div id="successinserttoast" class="toast hide ml-auto" data-autohide="true">
      <div class="toast-header">
        <strong class="mr-auto text-success">Information</strong>
        <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="toast-body">
        Inserted row. Click on an empty field to update data.
      </div>
    </div>
  </div>
<header>
  <%- include('../partials/header') %>
</header>

        
<body class="container-fluid">

    <span id="results" style="display: none;"><%= data.results %></span>
      <div class="btngroup flex-container">
        <button id="insertrowbtn" type="button" class="btn"><i class="fa fa-plus fa-2x" style="padding-bottom:10px;"></i><figcaption class="caption"> Insert Row</figcaption> </button>
        <button id="deleterowbtn" type="button" class="btn"><i class="fa fa-minus  fa-2x"></i><figcaption class="caption">Delete Row(s)</figcaption></button>
        <button id="filterbtn" type="button" data-toggle="modal" data-target="#filterModal" class="btn"><i class="fa fa-filter fa-2x"></i><figcaption class="caption">Filter Table</figcaption></button>
        <button id="download" type="button" class="btn" ><i class="fa fa-download fa-2x"></i><figcaption class="caption">Export Excel Sheet</figcaption></button>
        <button id="resettablebtn" type="button" data-toggle="modal" data-target="#resetModal" class="btn"><i class="fa fa-redo fa-2x"></i><figcaption class="caption">Reset table</figcaption></button>
      </div>
      
      
    <div class="table-container container-fluid">
    <table id="table" class="table table-borderless table-sm">
    </table>

    <table id="table2" class="table table-borderless table-sm">
      </table>
  </div>

<!-- Filter Modal -->
<div class="modal fade hide" id="filterModal" tabindex="-1" role="dialog" aria-labelledby="filterModal" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Select fields to query</h5>
        <button type="button" id="modal-close" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        
        <div class="filteritem">
          <label for="selectcols1">Select Column(s):</label>
          <select id="selectcols1" class="selectpick" multiple>
          </select>
        </div>
        
        <div class="filteritem">
          <label for="selectcols1">Where:</label>
          <select id="selectcols2" class="selectpick" multiple> 
          </select>
        </div>

        <div class="filteritem">
          <label for="selectcols1">In:</label>
          <select id="colsvalues" class="selectpick" data-live-search="true" multiple> 
          </select>
        </div>
       
      </div>
      <div class="modal-footer">
        <button type="button" id="filtertablebtn" class="btn" data-dismiss="modal">Filter Selection</button>
      </div>
    </div>
  </div>
</div>

<!-- RESET Button-->
<div class="modal fade hide" id="resetModal" tabindex="-1" role="dialog" aria-labelledby="resetModal" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Reset table</h5>
        <button type="button" id="modal-close" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        
      </div>
      <div class="modal-body">
        <form action="/list/filter" method="get">
          <div class="form-group">  
            <label for="limitinputval">Limit columns to: </label>
            <input type="number" min='1' class="form-control" id="limitinputval" placeholder="Enter number" name="limitnum">
            <div class="inforeset"><i class="fa fa-info-circle fa-sm" style="padding-top: 5px;" aria-hidden="true"></i><small style="padding-left: 5px; padding-top: 5px;">Click Retrieve Table without entering a limit to fetch all rows.</small>
            </div>
          </div>  
          <div class="modal-footer">
            
            <button type="submit" id="resetmodalbtn" class="btn btn-primary">Retrieve table</button>
          </div>
        </form>
        
      </div>
      
    </div>
  </div>
</div>
    
</body>

<script type="module" src="/js/ttable.js"></script>


</html>