<!DOCTYPE html>

<head>
    <title>Mall App</title>
    <%- include('../partials/head') %> 
</head>
<header>
  <%- include('../partials/header') %>
</header>

        <div id="errdeletetoast" class="toast hide" data-autohide="true">
          <div class="toast-header">
            <strong class="mr-auto text-warning mid-right">Information</strong>
            <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="toast-body">
            Please select row(s) to delete!
          </div>
        </div>

        <div id="validfailtoast" class="toast hide" data-autohide="true">
          <div class="toast-header">
            <strong class="mr-auto text-danger mid-right">Information</strong>
            <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="toast-body">
            This field does not accept characters.
          </div>
        </div>
        <div id="successdeletetoast" class="toast hide mid-right" data-autohide="true">
          <div class="toast-header">
            <strong class="mr-auto text-success">Information</strong>
            <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="toast-body">
            Deleted rows.
          </div>
        </div>
        <div id="successinserttoast" class="toast hide mid-right" data-autohide="true">
          <div class="toast-header">
            <strong class="mr-auto text-success">Information</strong>
            <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="toast-body">
            Inserted row. Click on an empty field to update data.
          </div>
        </div>
<body class="container-fluid">

    <span id="results" style="display: none;"><%= data.results %></span>
      <div class="btngroup flex-container">
        <button id="insertrowbtn" type="button" class="btn"><i class="fa fa-plus fa-2x" style="padding-bottom:10px;"></i><figcaption class="caption"> Insert Row</figcaption> </button>
        <button id="deleterowbtn" type="button" class="btn"><i class="fa fa-minus  fa-2x"></i><figcaption class="caption">Delete Row(s)</figcaption></button>
        <button id="filterbtn" type="button" data-toggle="modal" data-target="#filterModal" class="btn"><i class="fa fa-filter fa-2x"></i><figcaption class="caption">Filter Table</figcaption></button>
        <button id="download-csv" type="button" class="btn" ><i class="fa fa-download fa-2x"></i><figcaption class="caption">Download CSV</figcaption></button>
      </div>
      
      
    <div class="table-container container-fluid">
    <table id="table" class="table table-borderless table-sm">
    </table>
  </div>

<!-- Filter Modal -->
<div class="modal fade hide" id="filterModal" tabindex="-1" role="dialog" aria-labelledby="filterModal" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Select fields to query</h5>
        <button type="button" id="modal-close" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Select Column(s):
        <select id="selectcols" class="selectpick" multiple>
        </select>
        WHERE:
        <select id="wherecols" class="selectpick" data-live-search="true" multiple> 
        </select>
      </div>
      <div class="modal-footer">
        <button type="button" id="filtertablebtn" class="btn btn-primary">Filter Selection</button>
      </div>
    </div>
  </div>
</div>
    
</body>

<script type="text/javascript" src="/js/ttable.js"></script>


</html>