<!DOCTYPE html>

<head>
    <title>Mall App</title>
    <%- include('../partials/head') %>
</head>

<body class="container-fluid">
    <header>
        <%- include('../partials/header') %>
    </header>

    <span id="results" style="display: none;"><%= results %></span>

    <div style="padding-top: 10px; padding-bottom: 10px;">
        <button id="insertrowbtn" type="button" class="btn btn-outline-dark">Insert Row</button>
        <button id="deleterowbtn" type="button" class="btn btn-outline-dark">Delete Row(s)</button>
    </div>

    <table id="table"class="table table-bordered table-sm">
    </table>
</body>
<script type="text/javascript" src="/js/ttable.js"></script>

</html>